@use "sass:color";

$z-index-map: (
  background: 1,
  default: 2,
  focus: 3,
  header: 4,
  sidebar: 5,
  combobox-suggestions: 6,
);

$value-map: (
  base-font-size: 16px,
  font-family-base: #{'Montserrat', sans-serif},
  font-family-mono: #{'Source Code Pro', 'Consolas', monospace},
  bg-gradient-opacity: .5,
  bg-gradient-start-position: 0%,
  bg-gradient-mid-position: 50%,
  bg-gradient-end-position: 100%,
  bg-gradient-angle: 15deg,
  header-height: 3.25rem,
  header-spacing-horizontal: .625rem,
  header-spacing-vertical: .625rem,
  header-border: 0.0625rem,
  header-brand-font-size: 1.25rem,
  content-spacing: 1rem,
  content-container-max-width: 1080px,
  content-heading-2: 1.6em,
  content-heading-3: 1.4em,
  content-heading-4: 1.25em,
  content-heading-margin-bottom: .25em,
  button-padding-horizontal: .5rem,
  button-padding-vertical: .25rem,
  button-border-width: .0625rem,
  button-shadow-size: .125rem,
  button-border-radius: .25rem,
  button-font-size: .875rem,
  button-content-gap: .3rem,
  card-padding: 1rem,
  card-border-radius: .5rem,
  card-spacing: .5rem,
  alert-spacing: 1rem,
  alert-border-radius: .5rem,
  sidebar-spacing: .5rem,
  sidebar-max-width: 25rem,
  sidebar-border: .0625rem,
  sidebar-divider-border: .0625rem,
  sidebar-default-open-min-width: 1024px,
  sidebar-section-spacing: .625rem,
  sidebar-section-heading-font: 1.375rem,
  sidebar-dev-credit-font-size: 1.25rem,
  sidebar-dev-credit-line-height: 1.55,
  popup-border: .125rem,
  popup-box-shadow: 1rem,
  input-field-padding: .25rem,
  input-field-border: .0625rem,
  input-field-border-radius: .25rem,
  input-field-box-shadow-inset-y: .05rem,
  input-field-box-shadow: .15rem,
  form-control-spacing: .5rem,
  focus-outline: .2em,
  language-selector-spacing: .5em,
  user-info-spacing: .5em,
  collapsible-padding: .35em,
  collapsible-border-radius: .5em,
  form-checkbox-width: 1em,
  form-checkbox-height: 1em,
  form-checkbox-border: .0625em,
  form-checkbox-border-radius: .25em,
  form-radio-select-icon: 65%,
  form-select-icon-size: 1em,
  form-select-icon-padding: .25em,
  discord-user-info-spacing: .5em,
  discord-user-info-image-border-radius: 50%,
  discord-user-info-image-size: 2rem,
  discord-user-info-name-font-size: 1.25rem,
  table-cell-spacing: .5em,
  table-border-size: .0625em,
  code-border: .0625em,
  code-padding-vertical: .15em,
  code-padding-horizontal: .5em,
  code-border-radius: .3em,
  code-line-height: 1.5em,
  code-small-font-size: .75em,
  progress-bar-height: .75em,
  loading-indicator-full-revolution-time: 5s,
  useful-link-padding: .25rem,
  useful-link-spacing: .5rem,
  useful-link-desc-font-size: .875rem,
  useful-link-desc-line-height: 1.55,
);

$_text-color-light: #313131;
$_text-color-dark: #C1C2C5;
$_button-primary-bg-dark: #5865f2;
$_button-primary-bg-light: color.adjust($_button-primary-bg-dark, $lightness: 22%);
$_bg-gradient-start: #585ef2;
$_bg-gradient-mid: #5865f2;
$_bg-gradient-end: #a55ea5;

$color-map: (
  layout-bg: (
    light: #bbb,
    dark: #000
  ),
  layout-color: (
    light: $_text-color-light,
    dark: $_text-color-dark,
  ),
  bg-gradient-start: (
    light: $_bg-gradient-start,
    dark: $_bg-gradient-start,
  ),
  bg-gradient-mid: (
    light: $_bg-gradient-mid,
    dark: $_bg-gradient-mid,
  ),
  bg-gradient-end: (
    light: $_bg-gradient-end,
    dark: $_bg-gradient-end,
  ),
  header-bg: (
    light: color.adjust(#5865f2, $lightness: 27%, $saturation: -10%),
    dark: #1A1B1E
  ),
  header-border: (
    light: color.adjust(#5865f2, $lightness: 20%, $saturation: -10%),
    dark: #2C2E33
  ),
  header-brand: (
    light: color.adjust(#5865f2, $lightness: -10%, $saturation: -10%),
    dark: #909296
  ),
  card-bg: (
    light: color.adjust(#5865f2, $lightness: 30%, $saturation: -10%),
    dark: #1A1B1E
  ),
  card-color: (
    light: $_text-color-light,
    dark: $_text-color-dark,
  ),
  alert-bg: (
    light: rgba(230, 229, 227, .5),
    dark: rgba(20, 21, 23, 0.2),
  ),
  alert-color: (
    light: rgb(62, 61, 58),
    dark: rgb(193, 194, 197),
  ),
  alert-warning-bg: (
    light: rgba(246, 178, 143, 0.2),
    dark: rgba(232, 89, 12, 0.2),
  ),
  alert-warning-color: (
    light: #000,
    dark: rgb(255, 255, 255),
  ),
  alert-warning-hl-color: (
    light: rgb(126, 58, 4),
    dark: #ffd8a8,
  ),
  button-border-color: (
    light: rgba(0, 0, 0, .2),
    dark: rgba(255, 255, 255, .2),
  ),
  button-default-color: (
    light: #000,
    dark: #fff,
  ),
  button-default-bg: (
    light: color.adjust(#5865f2, $lightness: 20%, $saturation: -100%),
    dark: color.adjust(#5865f2, $lightness: -20%, $saturation: -100%),
  ),
  button-default-border-color: (
    light: color.adjust(#5865f2, $lightness: 10%, $saturation: -100%),
    dark: color.adjust(#5865f2, $lightness: -30%, $saturation: -100%),
  ),
  button-primary-color: (
    light: #000,
    dark: #fff,
  ),
  button-primary-bg: (
    light: $_button-primary-bg-light,
    dark: $_button-primary-bg-dark,
  ),
  button-primary-border-color: (
    light: color.adjust($_button-primary-bg-dark, $lightness: 12%, $saturation: -10%),
    dark: color.adjust($_button-primary-bg-dark, $lightness: -10%, $saturation: -10%),
  ),
  button-success-color: (
    light: #000,
    dark: #fff,
  ),
  button-success-bg: (
    light: color.adjust(#559933, $lightness: 22%),
    dark: #559933,
  ),
  button-success-border-color: (
    light: color.adjust(#559933, $lightness: 12%, $saturation: -10%),
    dark: color.adjust(#559933, $lightness: -10%, $saturation: -10%),
  ),
  button-danger-color: (
    light: #000,
    dark: #fff,
  ),
  button-danger-bg: (
    light: color.adjust(#993333, $lightness: 30%),
    dark: #993333,
  ),
  button-danger-border-color: (
    light: color.adjust(#993333, $lightness: 20%, $saturation: -10%),
    dark: color.adjust(#993333, $lightness: -10%, $saturation: -10%),
  ),
  button-warning-color: (
    light: #000,
    dark: #fff,
  ),
  button-warning-bg: (
    light: color.adjust(#997733, $lightness: 30%),
    dark: #997733,
  ),
  button-warning-border-color: (
    light: color.adjust(#997733, $lightness: 20%, $saturation: -10%),
    dark: color.adjust(#997733, $lightness: -10%, $saturation: -10%),
  ),
  sidebar-bg: (
    light: color.adjust(#5865f2, $lightness: 27%, $saturation: -10%),
    dark: #1a1b1e,
  ),
  sidebar-border-color: (
    light: color.adjust(#5865f2, $lightness: 20%, $saturation: -10%),
    dark: #2c2e33,
  ),
  sidebar-divider-color: (
    light: color.adjust(#5865f2, $lightness: 15%, $saturation: -10%),
    dark: #373a40,
  ),
  popup-border-color: (
    light: color.adjust(#5865f2, $lightness: 20%, $saturation: -10%),
    dark: #2c2e33,
  ),
  input-field-color: (
    light: #212121,
    dark: #c1c2c5,
  ),
  input-field-bg: (
    light: color.adjust(#5865f2, $lightness: 25%, $saturation: -10%),
    dark: #25262b,
  ),
  input-field-border-color: (
    light: color.adjust(#5865f2, $lightness: 20%, $saturation: -10%),
    dark: #373a40,
  ),
  input-field-focus-border-color: (
    light: color.adjust(#5865f2, $lightness: 20%),
    dark: #5865f2,
  ),
  input-field-box-shadow: (
    light: rgba(0, 0, 0, .25),
    dark: rgba(0, 0, 0, .5),
  ),
  calendar-day-selected-bg: (
    light: rgba(#5865f2, .25),
    dark: rgba(#5865f2, .5),
  ),
  collapsible-bg: (
    light: rgba(#000, .25),
    dark: rgba(#000, .5),
  ),
  table-border: (
    light: #6d6e70,
    dark: #373a40,
  ),
  code-color: (
    light: #323339,
    dark: #EFEFF0,
  ),
  code-bg: (
    light: #F5F5FA,
    dark: #1F202F,
  ),
  code-border: (
    light: #D4D3D9,
    dark: #373846,
  ),
  content-link: (
    light: #5865f2,
    dark: color.adjust(#5865f2, $lightness: 10%),
  ),
  open-source: (
    light: color.adjust(#3da639, $lightness: -10%),
    dark: color.adjust(#3da639, $lightness: 10%),
  ),
  translation-contribution-cta: (
    light: #559933,
    dark: color.adjust(#559933, $lightness: 10%),
  ),
  combobox-highlighted-item-bg: (
    light: color.adjust($_button-primary-bg-light, $saturation: -15%),
    dark: color.adjust($_button-primary-bg-dark, $saturation: -15%),
  ),
  add-app-bg: (
    light: #FFFFFF,
    dark: #323338,
  ),
  add-app-color: (
    light: #313338,
    dark: #DBDEE1,
  ),
  add-app-logo-border: (
    light: rgba(0, 0, 0, 0.08),
    dark: rgba(255, 255, 255, 0.08),
  ),
  add-app-link-bg: (
    light: #F2F3F5,
    dark: #2b2d31,
  ),
  add-app-link-hover-bg: (
    light: #EBEBED,
    dark: #3b3c41,
  ),
  add-app-link-icon: (
    light: #4E5058,
    dark: #b6bac0,
  ),
  add-app-link-title: (
    light: #060607,
    dark: #fff,
  ),
  add-app-link-description: (
    light: #5C5E66,
    dark: #969ba4,
  ),
);

$breakpoints: (
  sm: '400px',
  md: '768px',
  lg: '1024px',
  xl: '1200px',
);

$spacing: (
  0: 0,
  1: .25em,
  2: .5em,
  3: 1em,
  4: 1.75em,
);

$sizing: 10, 15, 20, 100;
