@use "sass:color";

$z-index-map: (
  sidebar: 3,
  header: 2,
  default: 1,
);

$size-map: (
  header-height: 3.25rem,
  header-spacing-horizontal: .625rem,
  header-spacing-vertical: .625rem,
  header-border: 0.0625rem,
  header-brand-font-size: 1.25rem,
  content-spacing: 1rem,
  button-padding-horizontal: .5rem,
  button-padding-vertical: .25rem,
  button-border-width: .0625rem,
  button-shadow-size: .125rem,
  button-border-radius: .25rem,
  button-font-size: .875rem,
  card-padding: 1rem,
  card-border-radius: .5rem,
  alert-spacing: 1rem,
  alert-border-radius: .5rem,
  sidebar-spacing: .5rem,
  sidebar-max-width: 25rem,
  sidebar-border-size: .0625rem,
  sidebar-divider-border-size: .0625rem,
);

$color-map: (
  layout-bg: (
    light: #fff,
    dark: #000
  ),
  layout-color: (
    light: #212121,
    dark: #C1C2C5,
  ),
  header-bg: (
    light: #eee,
    dark: #1A1B1E
  ),
  header-border: (
    light: #ddd,
    dark: #2C2E33
  ),
  header-brand: (
    light: color.adjust(#5865f2, $lightness: -10%, $saturation: -10%),
    dark: #909296
  ),
  card-bg: (
    light: #eee,
    dark: #1A1B1E
  ),
  card-color: (
    light: #212121,
    dark: #C1C2C5,
  ),
  alert-bg: (
    light: rgba(230, 229, 227, .5),
    dark: rgba(20, 21, 23, 0.2),
  ),
  alert-color: (
    light: rgb(62, 61, 58),
    dark: rgb(193, 194, 197),
  ),
  alert-warning-bg: (
    light: rgba(246, 178, 143, 0.2),
    dark: rgba(232, 89, 12, 0.2),
  ),
  alert-warning-color: (
    light: #000,
    dark: rgb(255, 255, 255),
  ),
  alert-warning-hl-color: (
    light: rgb(126, 58, 4),
    dark: #ffd8a8,
  ),
  button-border-color: (
    light: rgba(0, 0, 0, .2),
    dark: rgba(255, 255, 255, .2),
  ),
  button-default-color: (
    light: #000,
    dark: #fff,
  ),
  button-default-bg: (
    light: color.adjust(#5865f2, $lightness: 20%, $saturation: -100%),
    dark: color.adjust(#5865f2, $lightness: -20%, $saturation: -100%),
  ),
  button-default-border-color: (
    light: color.adjust(#5865f2, $lightness: 10%, $saturation: -100%),
    dark: color.adjust(#5865f2, $lightness: -30%, $saturation: -100%),
  ),
  button-primary-color: (
    light: #000,
    dark: #fff,
  ),
  button-primary-bg: (
    light: color.adjust(#5865f2, $lightness: 22%),
    dark: #5865f2,
  ),
  button-primary-border-color: (
    light: color.adjust(#5865f2, $lightness: 12%, $saturation: -10%),
    dark: color.adjust(#5865f2, $lightness: -10%, $saturation: -10%),
  ),
  sidebar-bg: (
    light: #eee,
    dark: #1a1b1e,
  ),
  sidebar-border-color: (
    light: #ddd,
    dark: #2c2e33,
  ),
  sidebar-divider-color: (
    light: #ccc,
    dark: #373a40,
  ),
);

$breakpoints: (
  sm: '400px',
  md: '768px',
  lg: '1024px',
  xl: '1200px',
);

$spacing: (
  0: 0,
  1: .25em,
  2: .5em,
  3: 1em,
  4: 1.75em,
);

$sizing: 10, 15, 20, 100;

:root {
  --base-size: 16px;
}

html {
  font-size: var(--base-size);
  font-family: var(--font-family-base);
}
