@use "functions";
@use "mixins";
@use "common";

:root {
  --base-size: 16px;
  --bg-gradient-opacity: .5;
  --font-family-base: 'Montserrat', sans-serif;
  --font-family-mono: 'Source Code Pro', 'Consolas', monospace;
  --bg-gradient-start-color: rgb(88 94 242 / var(--bg-gradient-opacity));
  --bg-gradient-mid-color: rgb(88 101 242 / var(--bg-gradient-opacity));
  --bg-gradient-end-color: rgb(165 94 165 / var(--bg-gradient-opacity));
  --bg-gradient-start-position: 0%;
  --bg-gradient-mid-position: 50%;
  --bg-gradient-end-position: 100%;
  --bg-gradient-angle-default: 15deg;

  @include mixins.color-variables;
  @include mixins.size-variables;
}

html {
  font-size: var(--base-size);
  @include mixins.base-font;
}

body {
  --bg-gradient-angle: var(--bg-gradient-angle-default);
  min-height: 100vh;
  @include mixins.base-font;
  background-image: linear-gradient(calc(180deg - var(--bg-gradient-angle)), var(--bg-gradient-start-color) var(--bg-gradient-start-position), var(--bg-gradient-mid-color) var(--bg-gradient-mid-position), var(--bg-gradient-end-color) var(--bg-gradient-end-position));
  background-color: functions.app-color-light('layout-bg');
  background-repeat: no-repeat;
  color: functions.app-color-light('layout-color');

  @include mixins.if-dark {
    background-color: functions.app-color-dark('layout-bg');
    color: functions.app-color-dark('layout-color');
  }

  @include mixins.if-rtl {
    --bg-gradient-angle: calc(-1 * var(--bg-gradient-angle-default));
  }

  &.no-anim * {
    transition: none !important;
    animation: none !important;
  }
}

code {
  @include mixins.monospace-font;
}

* {
  z-index: functions.app-z-index('default');
}
