@use 'mixins/if';

@import 'variables';
@import "~@picocss/pico/scss/pico";

$bg-gradient-start: rgb(242 226 87 / var(--bg-gradient-opacity));
$bg-gradient-mid: rgb(242 173 88 / var(--bg-gradient-opacity));
$bg-gradient-end: rgb(242 151 87 / var(--bg-gradient-opacity));
$gradient-stops: $bg-gradient-start 0%, $bg-gradient-mid 50%, $bg-gradient-end 100%;
$bg-gradient-angle: 15deg;

html, body {
  min-height: 100%;
}

html {
  --bg-gradient-opacity: 1;
  background-image: linear-gradient(#{180deg - $bg-gradient-angle}, #{$gradient-stops});
  background-color: #000;
  background-repeat: no-repeat;

  @include if.dark {
    --bg-gradient-opacity: .5;
  }
}

body {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @include if.rtl {
    background-image: linear-gradient(#{180deg + $bg-gradient-angle}, #{$gradient-stops});
  }
}

code {
  font-family: $font-family-mono;
}

[data-tooltip]::before {
  font-family: $font-family-base;
}

@import 'components/nav';
@import 'components/popup';
@import 'components/calendar';
@import 'utils/alignment';
@import 'utils/borders';
@import 'utils/cursor';
@import 'utils/grid';
@import 'utils/margins';
@import 'utils/sizing';
