.alert {
  background-color: app-color('alert-bg');
  color: app-color('alert-color');

  @include if-dark {
    background-color: app-color('alert-bg', true);
    color: app-color('alert-color', true);
  }

  header {
    background-color: rgba(255, 255, 255, .5);

    @include if-dark {
      background-color: rgba(0, 0, 0, .5);
    }

    .icon {
      @include if-ltr {
        margin-right: 1em;
      }

      @include if-rtl {
        margin-left: 1em;
      }
    }

    .close-button {
      float: right;
      border: 0;
      padding: 0;
      min-width: .8em;
      min-height: .8em;
      font-size: 2em;
      line-height: .5em;
    }
  }

  &.info {
    background-color: app-color('alert-info-bg');
    color: app-color('alert-info-color');
  }
}
