@use '../mixins/if';

.alert {
  background-color: var(--pico-primary-background);
  color: var(--pico-primary-inverse);

  header {
    background-color: rgba(255, 255, 255, .5);

    @include if.dark {
      background-color: rgba(0, 0, 0, .5);
    }

    .icon {
      @include if.ltr {
        margin-right: 1em;
      }

      @include if.rtl {
        margin-left: 1em;
      }
    }

    .close-button {
      float: right;
      border: 0;
      padding: 0;
      min-width: .8em;
      min-height: .8em;
      font-size: 2em;
      line-height: .5em;
    }
  }

  &.info {
    $info-bg: $blue-500;
    $info-bg-hover: $blue-450;
    $info-bg-inverse: $blue-200;
    --pico-primary-background: #{$info-bg};
    --pico-primary-inverse: #{$info-bg-inverse};
    --pico-primary-hover-background: #{$info-bg-hover};
  }
}
