@use "../design";

.alert {
  display: flex;
  flex-flow: row nowrap;
  gap: design.app-value('alert-spacing');
  padding: design.app-value('alert-spacing');
  border-radius: design.app-value('alert-border-radius');
  background-color: design.app-color-light('alert-bg');
  color: design.app-color-light('alert-color');

  @include design.if-dark {
    background-color: design.app-color-dark('alert-bg');
    color: design.app-color-dark('alert-color');
  }

  .alert-icon:empty {
    display: none;
  }

  .alert-content {
    flex-grow: 1;
    flex-basis: 100%;
    font-size: 0.875rem;
  }

  .alert-title {
    font-weight: bold;

    &:empty {
      display: none;
    }

    &:not(:empty) + .alert-text {
      margin-top: design.app-value('alert-spacing');
    }
  }

  .alert-text {
    &:empty {
      display: none;
    }
  }

  &.warning {
    color: design.app-color-light('alert-warning-color');
    background-color: design.app-color-light('alert-warning-bg');

    .alert-title, .alert-icon {
      color: design.app-color-light('alert-warning-hl-color');
    }

    @include design.if-dark {
      color: design.app-color-dark('alert-warning-color');
      background-color: design.app-color-dark('alert-warning-bg');

      .alert-title, .alert-icon {
        color: design.app-color-dark('alert-warning-hl-color');
      }
    }
  }
}
