@use "../design";

.bot-shards-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  --shard-servers-share-multiplier: .25;
  gap: design.app-value('bot-shard-spacing');
  font-size: design.app-value('bot-shards-display-font-size');

  .bot-shard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex: 0 1 calc(var(--shard-servers-share-multiplier) * 100%);
    color: design.app-color-light('bot-shard-actvie-color');
    background-color: design.app-color-light('bot-shard-actvie-bg');
    padding: design.app-value('bot-shard-spacing');
    border-radius: design.app-value('bot-shard-spacing');
    gap: design.app-value('bot-shard-spacing');
    max-width: design.app-value('bot-shard-max-width');

    @include design.if-dark {
      color: design.app-color-dark('bot-shard-actvie-color');
      background-color: design.app-color-dark('bot-shard-actvie-bg');
    }

    &.idle {
      color: design.app-color-light('bot-shard-inactvie-color');
      background-color: design.app-color-light('bot-shard-inactvie-bg');

      @include design.if-dark {
        color: design.app-color-dark('bot-shard-inactvie-color');
        background-color: design.app-color-dark('bot-shard-inactvie-bg');
      }
    }

    .bot-shard-info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      gap: design.app-value('bot-shard-spacing');
      width: 100%;
      max-width: design.app-value('bot-shard-info-max-width');
      filter: drop-shadow(0 0.0625em 0.0625em rgba(0, 0, 0, .5));

      > :last-child {
        @include design.if-ltr {
          text-align: right;
        }
        @include design.if-rtl {
          text-align: left;
        }
      }
    }
  }
}
