@use "../design";

.bot-info p, .bot-command-info {
  @include design.content-link-style;
}

.bot-info-image {
  max-width: 300px;
  border-radius: .5em;
  aspect-ratio: 879 / 495;
  display: block;
  width: 300px;

  @include design.screen-below('md') {
    margin: 0 auto design.app-value('card-padding');
    max-width: 100%;
  }

  @include design.screen-above('md') {
    margin: 0 0 design.app-value('card-padding') design.app-value('card-padding');
    @include design.if-ltr {
      float: right;
    }
    @include design.if-rtl {
      float: left;
    }
  }
}

.bot-command-info {
  &:not(:last-child) {
    margin-bottom: design.app-value('card-padding');
  }

  > :not(:last-child) {
    margin-bottom: design.app-value('card-spacing');
  }

  .bot-command-name {
    font-size: design.app-value('bot-command-heading-3');

    .bot-command-type {
      font-size: .8em;
      opacity: .75;
    }
  }

  h4 {
    font-size: design.app-value('bot-command-heading-4');
  }

  .bot-command-options {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: design.app-value('card-spacing');

    .bot-command-option-name {
      &.required {
        font-weight: bold;
      }
    }
  }
}
