@use "../design";

.calendar-controls, .calendar {
  --gap: .25em;
  --column-count: 7;
  text-align: center;
  font-size: .9em;
  --button-size: 1.75em;
  user-select: none;

  @include design.screen-below('md') {
    --button-size: 2.5em;
  }
}

.calendar-controls {
  display: grid;
  grid-template-columns: calc(var(--button-size) * 2.5) auto calc(var(--button-size) * 2.5);
  width: 100%;
  margin: .5em 0;
  gap: var(--gap);

  .calendar-context {
    font-size: calc(var(--button-size) * 0.65);
    line-height: var(--button-size);
  }
}

.calendar {
  display: grid;
  grid-template-rows: auto;
  gap: var(--gap);

  .calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(var(--column-count), calc(100% / var(--column-count)));
  }

  .calendar-week {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--column-count), calc((100% / var(--column-count)) - var(--gap)));
  }

  .red {
    color: #c00;

    @include design.if-dark {
      color: #faa;
    }
  }

  .blue {
    color: #0af;

    @include design.if-dark {
      color: #adf;
    }
  }

  .calendar-weekdays > * {
    border-bottom: 1px solid;
    padding: 0 calc(var(--gap) / 2);
    white-space: nowrap;
    overflow: hidden;
  }

  .calendar-day {
    padding: .1em;
    border: 1px solid transparent;
    border-radius: .15em;
    box-sizing: border-box;
    margin: 0;
    background-color: transparent;
    height: var(--button-size);
    position: relative;

    &:focus {
      z-index: design.app-z-index('focus');
    }

    &:focus-visible {
      outline: design.app-size('focus-outline') solid;
    }

    &.current {
      border-color: currentColor;
    }

    &.different-month {
      opacity: .5;
    }

    &.selected {
      font-weight: bold;
      background-color: design.app-color-light('calendar-day-selected-bg');

      @include design.if-dark {
        background-color: design.app-color-dark('calendar-day-selected-bg');
      }
    }
  }
}
