@use "../design";

.card {
  border-radius: design.app-size('card-border-radius');
  padding: design.app-size('card-padding');
  background-color: design.app-color('card-bg');
  color: design.app-color('card-color');

  @include design.if-dark {
    background-color: design.app-color('card-bg', true);
    color: design.app-color('card-color', true);
  }
}
