@use "../design";

.card {
  border-radius: design.app-value('card-border-radius');
  padding: design.app-value('card-padding');
  background-color: design.app-color-light('card-bg');
  color: design.app-color-light('card-color');

  @include design.if-dark {
    background-color: design.app-color-dark('card-bg');
    color: design.app-color-dark('card-color');
  }

  &.error {
    background-color: design.app-color-light('card-error-bg');
    color: design.app-color-light('card-error-color');

    @include design.if-dark {
      background-color: design.app-color-dark('card-error-bg');
      color: design.app-color-dark('card-error-color');
    }
  }

  .card-header {
    &:not(:last-child) {
      margin-bottom: design.app-value('card-padding');
    }

    &:empty {
      display: none;
    }

    h2 {
      font-size: design.app-value('card-header-2-font-size');
    }
  }
}
