@use "../design";

.content-container {
  margin: 0 auto;
  width: 100%;
  max-width: calc(#{design.app-value('content-container-max-width')} + (2 * #{design.app-value('content-spacing')}));
  padding: design.app-value('content-spacing');

  .content {
    display: block;
    width: 100%;

    > :not(:last-child) {
      margin-bottom: design.app-value('content-spacing');
    }
  }
}
