@use "../design";

.content-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  padding: design.app-size('content-spacing');

  .content {
    display: block;
    width: 100%;

    > :not(:last-child) {
      margin-bottom: design.app-size('content-spacing');
    }
  }
}
