@use "../design";

.copyable-code {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: design.app-size('syntax-display-spacing');

  .copyable-code-data {
    user-select: all;
    padding: design.app-size('syntax-display-padding-vertical') design.app-size('syntax-display-padding-horizontal');
    line-height: design.app-size('syntax-display-line-height');
    border-radius: design.app-size('syntax-display-border-radius');
    color: design.app-color-light('syntax-display-code-color');
    background-color: design.app-color-light('syntax-display-code-bg');

    @include design.if-dark {
      color: design.app-color-dark('syntax-display-code-color');
      background-color: design.app-color-dark('syntax-display-code-bg');
    }
  }
}
