@use "../design";

.copyable-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  @include design.if-ltr {
    .copyable-text-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .copyable-text-data {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  @include design.if-rtl {
    .copyable-text-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .copyable-text-data {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .copyable-text-data {
    user-select: all;
  }
}
