@use "../design";

.copyable-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  @include design.if-ltr {
    @include design.combined-border-radius;
  }
  @include design.if-rtl {
    @include design.combined-border-radius-inverted;
  }

  .copyable-text-data {
    user-select: all;
  }
}
