@use "../design";

.credits-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  .credits-block-icon,
  .credits-block-content {
    margin-bottom: 0.75rem;
    line-height: 1.55;
  }

  .credits-block-icon {
    margin-right: .5em;
  }

  .credits-block-content {
    text-transform: uppercase;
  }
}

.developer-credit {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-transform: none;
  line-height: design.app-value('sidebar-dev-credit-line-height');

  .developer-avatar {
    img {
      display: block;
    }

    @include design.if-ltr {
      margin-right: design.app-value('sidebar-spacing');
    }

    @include design.if-rtl {
      margin-left: design.app-value('sidebar-spacing');
    }
  }

  .developer-name {
    display: block;
    font-size: design.app-value('sidebar-dev-credit-font-size');
    line-height: design.app-value('sidebar-dev-credit-line-height');
  }
}

.external-libraries-credit {
  text-transform: none;
  margin: 0;
  padding: 0;
  list-style: disc inside;
}

.translation-credits {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;

  .translator-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-transform: none;

    .translator-avatar {
      img {
        display: block;
      }

      @include design.if-ltr {
        margin-right: design.app-value('sidebar-spacing');
      }

      @include design.if-rtl {
        margin-left: design.app-value('sidebar-spacing');
      }

      img {
        background-color: #fff;
      }
    }
  }
}

.credits-section {
  .open-source {
    text-transform: uppercase;
    color: design.app-color-light('open-source');

    @include design.if-dark {
      color: design.app-color-dark('open-source');
    }
  }

  .view-source {
    text-transform: uppercase;
  }

  .not-affiliated {
    font-size: 0.875rem;
  }
}
