@use "sass:math";
@use "sass:color";
@use "../design";

.form-control-group {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: design.app-value('form-control-spacing');
  margin-bottom: design.app-value('form-control-spacing');

  &.vertical {
    flex-flow: column nowrap;
  }
}

.form-control-wrap {
  display: block;
  flex: 1 1 auto;
}

.form-control {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: design.app-value('form-control-spacing');
}

.form-control-checkbox {
  display: block;

  .form-checkbox-input-wrap {
    position: relative;
    display: inline-block;
    width: design.app-value('form-checkbox-width');
    height: design.app-value('form-checkbox-height');
    border: design.app-value('form-checkbox-border') solid design.app-color-light('input-field-border-color');
    background-color: design.app-color-light('input-field-bg');
    border-radius: design.app-value('form-checkbox-border-radius');
    vertical-align: text-top;

    &:focus {
      z-index: design.app-z-index('focus');
      border-color: design.app-color-light('input-field-focus-border-color');
    }

    &:focus-visible {
      outline: design.app-value('focus-outline') solid design.app-color-light('input-field-focus-border-color');
    }

    @include design.if-dark {
      border-color: design.app-color-dark('input-field-border-color');
      background-color: design.app-color-dark('input-field-bg');

      &:focus {
        border-color: design.app-color-dark('input-field-focus-border-color');
      }

      &:focus-visible {
        outline-color: design.app-color-dark('input-field-focus-border-color');
      }
    }

    @include design.if-ltr {
      margin-right: design.app-value('form-control-spacing');
    }
    @include design.if-rtl {
      margin-left: design.app-value('form-control-spacing');
    }

    .form-checkbox-check-icon,
    .form-checkbox-input {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .form-checkbox-input {
      border: 0;
      background: transparent;
      box-sizing: border-box;
    }

    .form-checkbox-check-icon {
      text-align: center;
      transform: translate(-0.1em, 0.05em);
      opacity: 0;
      color: design.app-color-light('input-field-color');
      transition: opacity .1s linear;
      font-size: .8em;
      pointer-events: none;

      @include design.if-dark {
        color: design.app-color-dark('input-field-color');
      }
    }

    .form-checkbox-input:checked + .form-checkbox-check-icon {
      opacity: 1;
    }
  }

  .form-checkbox-label {
    cursor: default;
  }
}

.form-control-radio {
  display: block;

  .form-radio-input-wrap {
    position: relative;
    display: inline-block;
    width: design.app-value('form-checkbox-width');
    height: design.app-value('form-checkbox-height');
    vertical-align: text-top;

    &:focus {
      z-index: design.app-z-index('focus');
      border-color: design.app-color-light('input-field-focus-border-color');
    }

    &:focus-visible {
      outline: design.app-value('focus-outline') solid design.app-color-light('input-field-focus-border-color');
    }

    @include design.if-ltr {
      margin-right: design.app-value('form-control-spacing');
    }
    @include design.if-rtl {
      margin-left: design.app-value('form-control-spacing');
    }

    .form-radio-input,
    .form-radio-select-icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-sizing: border-box;
    }

    .form-radio-select-icon {
      position: absolute;
      top: 0;
      left: 0;
    }

    .form-radio-input {
      border: 0;
      border: design.app-value('form-checkbox-border') solid design.app-color-light('input-field-border-color');
      background-color: design.app-color-light('input-field-bg');
      border-radius: 50%;

      &:focus {
        border-color: design.app-color-light('input-field-focus-border-color');
      }

      &:focus-visible {
        outline: design.app-value('focus-outline') solid design.app-color-light('input-field-focus-border-color');
      }

      @include design.if-dark {
        background-color: design.app-color-dark('input-field-bg');
        border-color: design.app-color-dark('input-field-border-color');

        &:focus {
          border-color: design.app-color-dark('input-field-focus-border-color');
        }

        &:focus-visible {
          outline-color: design.app-color-dark('input-field-focus-border-color');
        }
      }
    }

    .form-radio-select-icon {
      opacity: 0;
      background-color: design.app-color-light('input-field-color');
      transition: opacity .1s linear;
      display: block;
      width: design.app-value('form-radio-select-icon');
      height: design.app-value('form-radio-select-icon');
      margin: calc((100% - #{design.app-value('form-radio-select-icon')}) * 0.5);
      pointer-events: none;

      @include design.if-dark {
        background-color: design.app-color-dark('input-field-color');
      }
    }

    .form-radio-input:checked + .form-radio-select-icon {
      opacity: 1;
    }
  }

  .form-radio-label {
    cursor: default;
  }
}

.form-control-select {
  display: inline-block;
  position: relative;

  > .form-select-input {
    --padding-value: calc(#{design.app-value('input-field-padding')} * 2 + #{design.app-value('form-select-icon-padding')} * 2 + #{design.app-value('form-select-icon-size')});
    @include design.if-ltr {
      padding-right: var(--padding-value);
    }
    @include design.if-rtl {
      padding-left: var(--padding-value);
    }
  }

  .form-select-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 design.app-value('form-select-icon-padding');
    font-size: design.app-value('form-select-icon-size');
    cursor: pointer;

    @include design.if-ltr {
      right: 0;
    }

    @include design.if-rtl {
      left: 0;
    }
  }
}

.form-control-wrap.combo-box, .form-control-combobox, .combobox-suggestions {
  z-index: design.app-z-index('combobox-suggestions');
}

.form-control-combobox.suggestions-open > .form-select-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.combobox-suggestions {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: design.app-value('input-field-border') solid design.app-color-light('input-field-border-color');
  color: design.app-color-light('input-field-color');
  background-color: design.app-color-light('input-field-bg');
  border-bottom-left-radius: design.app-value('input-field-border-radius');
  border-bottom-right-radius: design.app-value('input-field-border-radius');
  box-sizing: border-box;

  @include design.if-dark {
    color: design.app-color-dark('input-field-color');
    background-color: design.app-color-dark('input-field-bg');
    border-color: design.app-color-dark('input-field-border-color');
  }

  .combobox-suggestion-item {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: design.app-value('input-field-padding');
    cursor: pointer;

    mark {
      font-weight: bold;
    }

    &.selected {
      color: design.app-color-light('button-primary-color');
      background-color: design.app-color-light('button-primary-bg');

      @include design.if-dark {
        color: design.app-color-dark('button-primary-color');
        background-color: design.app-color-dark('button-primary-bg');
      }

      &.highlighted, &:hover {
        background-color: design.app-color-light('combobox-highlighted-item-bg');

        @include design.if-dark {
          background-color: design.app-color-dark('combobox-highlighted-item-bg');
        }
      }
    }

    &.highlighted {
      color: design.app-color-light('button-default-color');
      background-color: design.app-color-light('button-default-bg');

      @include design.if-dark {
        color: design.app-color-dark('button-default-color');
        background-color: design.app-color-dark('button-default-bg');
      }
    }
  }
}

.form-input-group {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: design.app-value('form-control-spacing');

  > .input-field {
    min-width: 0;
    flex-grow: 1;
  }

  &:not([dir="rtl"]) > .input-field {
    @include design.combined-border-radius;
  }

  &[dir="rtl"] > .input-field {
    @include design.combined-border-radius-inverted;
  }
}

.form-message {
  font-size: 0.9em;

  &.error {
    color: #faa;
  }

  &.success {
    color: #afa;
  }
}
