@use "../design";
@use "sass:map";

.header {
  position: sticky;
  z-index: design.app-z-index('header');
  height: design.app-size('header-height');
  top: 0;
  left: 0;
  right: 0;
  background-color: design.app-color-light('header-bg');
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: design.app-size('header-spacing-vertical') design.app-size('header-spacing-horizontal');
  gap: design.app-size('header-spacing');
  box-sizing: border-box;
  border-bottom: design.app-size('header-border') solid design.app-color-light('header-border');

  @include design.if-dark {
    background-color: design.app-color-dark('header-bg');
    border-bottom-color: design.app-color-dark('header-border');
  }

  .header-brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: design.app-size('header-brand-font-size');
    color: design.app-color-light('header-brand');

    @include design.if-dark {
      color: design.app-color-dark('header-brand');
    }

    .header-brand-text {
      font-weight: bold;

      @include design.margin-start(map.get(design.$spacing, 2));
    }
  }
}
