@forward 'alert';
@forward 'avatar';
@forward 'button';
@forward 'calendar';
@forward 'card';
@forward 'collapsible';
@forward 'content';
@forward 'credits';
@forward 'discord-user-info';
@forward 'forms';
@forward 'header';
@forward 'input-text';
@forward 'language-selector';
@forward 'nav';
@forward 'popup';
@forward 'progress';
@forward 'sidebar';
@forward 'syntax-display';
@forward 'table';
@forward 'time-dial';
@forward 'user-info';
