@use "../design";

.input-text {
  display: block;
  padding: design.app-size('input-text-padding');
  color: design.app-color-light('input-text-color');
  background-color: design.app-color-light('input-text-bg');
  border: design.app-size('input-text-border') solid design.app-color-light('input-text-border-color');
  border-radius: design.app-size('input-text-border-radius');
  box-shadow: inset 0 design.app-size('input-text-box-shadow-inset-y') design.app-size('input-text-box-shadow') design.app-color-light('input-text-box-shadow');

  &:focus {
    border-color: design.app-color-light('input-text-focus-border-color');
  }

  @include design.if-dark {
    color: design.app-color-dark('input-text-color');
    background-color: design.app-color-dark('input-text-bg');
    border-color: design.app-color-dark('input-text-border-color');
    box-shadow: inset 0 design.app-size('input-text-box-shadow-inset-y') design.app-size('input-text-box-shadow') design.app-color-dark('input-text-box-shadow');

    &:focus {
      border-color: design.app-color-dark('input-text-focus-border-color');
    }
  }

}
