@use "../design";

nav.sticky {
  position: sticky;
  top: 0;
}

nav.backdrop {
  background-color: var(--bg-color);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px var(--bg-color);
}

nav {
  --bg-color: #{design.app-color-light('nav-bg')};
  z-index: 5;

  @include design.if-dark {
    --bg-color: #{design.app-color-dark('nav-bg')};
  }

  .brand {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .actions-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: design.app-size('nav-element-spacing-horizontal');

    > li {
      display: block;
      height: 2.5em;

      > a {
        margin-top: 0;
        margin-bottom: 0;
        border: 2px solid transparent;
      }
    }
  }


  details.dropdown {
    margin: 0;

    summary {
      overflow: hidden;
    }
  }

  .language-dropdown {
    max-height: 50vh;
    overflow: auto;
  }

  .language-button, .language-link {
    display: flex !important;
    flex-flow: row nowrap;
    align-items: center;

    .language-flag {
      display: block;
      height: 1.2em;
      margin: -0.75em 0 0;
    }
  }

  @include design.screen-below('md') {
    .language-button {
      .language-flag {
        transform: translateY(-0.2em);
      }

      .language-name {
        display: none;
      }
    }
  }

  details.dropdown > ul {
    left: unset !important;
    right: 0 !important;
  }

  .language-button, .language-link {
    &[dir=ltr] .language-name {
      margin-left: 1em;
    }

    &[dir=rtl] .language-name {
      margin-right: 1em;
    }
  }

  .language-link.disabled {
    opacity: 0.5;
  }

  .user-dropdown {
    @include design.screen-below('sm') {
      .user-name {
        display: none;
      }
    }
    @include design.screen-above('sm') {
      .user-icon {
        display: none;
      }
    }
  }
}
