@use '../mixins/if';

nav.sticky {
  position: sticky;
  top: 0;
}

nav.backdrop {
  --bg-color: var(--background-color);
  background-color: var(--bg-color);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px var(--bg-color);
}

nav {
  a, :is(button, input[type="submit"], input[type="button"], [role="button"]).outline, input[type="reset"].outline {
    @include if.dark {
      --color: #{$primary-300};
    }
  }

  .brand {
    font-weight: bold;
    display: flex;
    align-items: center;
    --color: #{$grey-600};

    @include if.dark {
      --color: #{$grey-400};
    }
  }

  .language-dropdown {
    max-height: 50vh;
    overflow: auto;
  }

  .language-link {
    display: flex !important;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1rem;
    direction: revert !important;

    @include if.dark {
      color: $primary-300;
    }

    &[dir=ltr] .language-name {
      margin-left: 1em;
    }

    &[dir=rtl] .language-name {
      margin-right: 1em;
    }

    &[aria-haspopup="listbox"] > .normal-flag {
      margin-top: -0.3em;
      margin-bottom: -0.3em;
    }
  }
}
