@use "../mixins/if";

.popup {
    position: absolute;
    max-width: 700px;
    backdrop-filter: blur(3px);
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
    padding: var(--block-spacing-horizontal);
    background-color: rgba($white, .75);
    transform: translateY(calc(var(--spacing) * -1));
    z-index: 3;

    @include if.dark {
        background-color: rgba($black, .75);
    }
}

.popup-close-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: default;
}
