@use "../design";

@include design.screen-below('md') {
  body:has(.popup) {
    overflow: hidden;
  }
}

.popup {
  position: absolute;
  max-width: 400px;
  border-radius: design.app-size('border-radius');
  box-shadow: design.app-color('card-box-shadow');
  padding: design.app-size('block-spacing-horizontal');
  background-color: design.app-color('popup-bg');
  z-index: 3;

  @include design.if-dark {
    background-color: design.app-color('popup-bg', true);
  }

  @include design.screen-above('md') {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    width: unset !important;
    height: unset !important;
    min-width: unset !important;
    min-height: unset !important;
    transform: translateY(calc(#{design.app-size('default-spacing')} * -1));
    overflow: hidden;
  }

  &.visible {
    display: block !important;
  }

  &::backdrop {
    backdrop-filter: blur(3px);
  }
}
