@use '../design';

.sidebar {
  position: fixed;
  z-index: design.app-z-index('sidebar');
  top: 0;
  bottom: 0;
  padding: design.app-value('sidebar-spacing');
  margin: 0 !important;
  overflow: auto;
  width: 100%;
  max-width: design.app-value('sidebar-max-width');
  background-color: design.app-color-light('sidebar-bg');
  border-right: design.app-value('sidebar-border') solid design.app-color-light('sidebar-border-color');
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  gap: design.app-value('sidebar-spacing');
  will-change: transform;
  transition: transform .1s ease-in;

  @media print {
    display: none;
  }

  @include design.if-prefers-reduced-motion {
    transition: none !important;
  }

  @include design.if-dark {
    background-color: design.app-color-dark('sidebar-bg');
    border-right-color: design.app-color-dark('sidebar-border-color');
  }

  &.position-left {
    left: 0;
    transform: translateX(calc(-1 * #{design.app-value('sidebar-max-width')}));
  }

  &.position-right {
    right: 0;
    transform: translateX(#{design.app-value('sidebar-max-width')});

    .sidebar-top {
      flex-direction: row-reverse;
    }
  }

  &.is-open {
    transform: translateX(0);

    &.position-left + .sidebar-spacing-wrapper {
      padding-left: design.app-value('sidebar-max-width');
    }

    &.position-right + .sidebar-spacing-wrapper {
      padding-right: design.app-value('sidebar-max-width');
    }
  }

  > * {
    box-sizing: border-box;
  }

  .sidebar-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 calc(#{design.app-value('header-height')} - #{design.app-value('header-border')} - #{design.app-value('sidebar-spacing')} * 2);
  }

  .sidebar-content {
    flex: 1 0 auto;
    min-height: 0;
  }

  .sidebar-divider {
    border-top: design.app-value('sidebar-divider-border') solid design.app-color-light('sidebar-divider-color');

    @include design.if-dark {
      border-top-color: design.app-color-dark('sidebar-divider-color');
    }
  }

  .sidebar-bottom {
    flex: 0 0 auto;
  }
}

.sidebar-content {
  padding: design.app-value('sidebar-spacing');

  section {
    margin-bottom: design.app-value('sidebar-section-spacing');

    header {
      font-weight: bold;
      text-align: center;
      margin-bottom: design.app-value('sidebar-section-spacing');
      font-size: design.app-value('sidebar-section-heading-font');
    }
  }

  a {
    color: design.app-color-light('content-link');

    @include design.if-dark {
      color: design.app-color-dark('content-link');
    }
  }
}

.sidebar-spacing-wrapper {
  position: relative;
  transition: padding .1s ease-in-out;

  @media (max-width: design.app-value('sidebar-default-open-min-width')) {
    padding: 0 !important;
  }

  @media print {
    padding: 0 !important;
  }
}
