@use "../design";

.useful-links-card {

  .lead-text {
    text-align: center;
  }

  .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
  }

  .useful-link {
    flex: 1 1 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .link-wrap {
      border-radius: 0.4rem;
      text-decoration: none !important;
      max-width: 175px;
      margin: 0 auto;

      &,
      .link-card {
        display: flex;
        height: 100%;
        flex-flow: column nowrap;
        justify-content: center;
      }

      .link-card {
        border-radius: design.app-size('card-border-radius');
        padding: design.app-size('card-padding');
        background-color: rgba(255, 255, 255, .05);
      }

      @media (min-width: 576px) {
        max-width: 225px;
      }

      @media (min-width: 768px) {
        max-width: 280px;
      }

      .card-top-half {
        flex: 0 0 auto;
        position: relative;
        height: 0;
        padding-top: 61.58%;

        &,
        * {
          border-radius: inherit;
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      .card-bottom-half {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-top: design.app-size('card-spacing');
      }

      .link-name {
        margin-bottom: design.app-size('card-spacing');
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
      }

      .link-desc {
        text-align: center;
      }
    }
  }
}
