@use "../design";

.grid-flex {
  display: flex;
  justify-content: space-between;
  gap: design.app-size('grid-column-gap');

  .grid-flex-item {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.flex-basis-auto {
  flex-basis: auto !important;
}

.flex-basis-20 {
  flex-basis: 20% !important;
}

.flex-basis-40 {
  flex-basis: 40% !important;
}

.flex-basis-30 {
  flex-basis: 30% !important;
}
