@use "../design";
@use "sass:map";

$spacing-keys: map.keys(design.$spacing);
@each $key in $spacing-keys {
  $size: map.get(design.$spacing, $key);
  .m-#{$key} {
    margin: $size;
  }
  .mt-#{$key} {
    margin-top: $size;
  }
  .mb-#{$key} {
    margin-bottom: $size;
  }
  .my-#{$key} {
    margin-top: $size;
    margin-bottom: $size;
  }
  .mx-#{$key} {
    margin-left: $size;
    margin-right: $size;
  }
  .ms-#{$key} {
    @include design.margin-start($size);
  }
  .me-#{$key} {
    @include design.margin-end($size);
  }
}
