@each $key, $size in $spacing {
  .m-#{$key} {
    margin: $size;
  }
  .mt-#{$key} {
    margin-top: $size;
  }
  .mb-#{$key} {
    margin-bottom: $size;
  }
  .my-#{$key} {
    margin-top: $size;
    margin-bottom: $size;
  }
  .mx-#{$key} {
    margin-left: $size;
    margin-right: $size;
  }
  .ms-#{$key} {
    @include if-ltr {
      margin-left: $size;
    }
    @include if-rtl {
      margin-right: $size;
    }
  }
  .me-#{$key} {
    @include if-ltr {
      margin-right: $size;
    }
    @include if-rtl {
      margin-left: $size;
    }
  }
}
