@use "../design";
@use "sass:map";

$spacing-keys: map.keys(design.$spacing);
@each $key in $spacing-keys {
  $size: map.get(design.$spacing, $key);
  .p-#{$key} {
    padding: $size;
  }
  .pt-#{$key} {
    padding-top: $size;
  }
  .pb-#{$key} {
    padding-bottom: $size;
  }
  .py-#{$key} {
    padding-top: $size;
    padding-bottom: $size;
  }
  .px-#{$key} {
    padding-left: $size;
    padding-right: $size;
  }
  .ps-#{$key} {
    @include design.padding-start($size);
  }
  .pe-#{$key} {
    @include design.padding-end($size);
  }
}
